<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doper.mybatis.mapper.PermissionMapper">
    <select id="findUserPermissions" resultType="Permission">
        select *
        from b_permission
        where id in (select permission_id
                     from b_role_permission_relate
                     where role_id =
                           (select role_id
                            from b_user_role_relate
                            where user_id = #{userId} limit 1)
            )
    </select>
</mapper>